@import url('reset.css');
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
</style>

body{
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
  background-color: white;
  outline: none;
  margin-top: 140px;
  word-break: break-word;
}
.texto p {
  line-height: 1.8;
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6,p,a,span,strong,small,table,td,tr,ul,li,div,button,::placeholder{
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1;
}
ul.sub-sub-categoria li {
  width: calc(100% / 4);
  float: left;
}
ul.sub-sub-categoria-menu li {
  float: none !important;
  display: block;
}
ul.sub-sub-categoria-menu {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  overflow: hidden;
  height: 0;
}
li.link-sub-sub-open:hover ul.sub-sub-categoria-menu {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  height: auto;
  opacity: 1;
}
.cont-redes .face {
  margin-bottom: 20px;
}
.block{
  display: block;
}
ul.sub-categoria {
  position: absolute;
  background: rgba(177, 177, 177);
  left: 0;
  width: 100%;
  display: none;
}
h2.titulo.small {
  font-size: 25px;
}
li.sub-menu:hover ul.sub-categoria {
  display: flex;
}
li .Lista_sub-subCategoria:hover ul.sub-sub-categoria {
  display: block;
}
li.Lista_sub-subCategoria {
  width: 100%;
  border-right: 1px solid #e2e2e2;
  background: rgba(255, 255, 255, 0.77);
}
ul.sub-sub-categoria {
  position: absolute;
  background: rgb(35, 31, 32);
  width: 100%;
  padding: 20px 0;
  left: 0;
  display: none;
}
li.Lista_sub-subCategoria a:hover {
  background: rgb(10, 38, 80) !important;
  color: white;
}
li.Lista_sub-subCategoria a{
  text-align: left !important;
}
ul.sub-sub-categoria li a:hover {
  background: white !important;
}
ul.sub-sub-categoria li a {
  text-align: left !important;
  color: white !important;
  color: #c3bfbf !important;
  padding: 12px !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}
ul.sub-sub-categoria li a:hover{
  color: #545454 !important;
}
.paginacao ul li a.ativo {
  background: #0b2650;
  color: white;
}
.ListaCatalogo .slick-slide {
    margin: 0 30px;
}
.box {
  padding: 20px;
  text-align: center;
}
.ListaCatalogo{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.id-menu{
  position: relative;
  bottom: 140px;
  width: 100%;
}
span.fecharModal {
  position: absolute;
  right: 5px;
  top: 0;
  font-size: 38px;
  font-weight: 500;
  z-index: 199;
  cursor: pointer;
  color: white;
}
ul.sub-categoria li.Lista_sub-subCategoria a {
  text-align: center !important;
}
.ListaCatalogo button.slick-next.slick-arrow {
  border: 0;
  font-size: 0;
  color: transparent;
  background-color: transparent;
  padding: 0;
  width: 20px;
  height: 38px;
  background-position: center;
  background-image: url(../images/next-black.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 140px;
  cursor: pointer;
  right: -50px;
  z-index: 10;
}
.ListaCatalogo button.slick-prev.slick-arrow {
  border: 0;
  font-size: 0;
  color: transparent;
  background-color: transparent;
  padding: 0;
  width: 20px;
  height: 38px;
  background-position: center;
  background-image: url(../images/prev-black.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 140px;
  cursor: pointer;
  left: -50px;
  z-index: 10;
}

header.fixed {
  display: none;
}
header {
  display: block;
}
.telefoneMobile{
  display: none;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  background: white;
}
:focus{
  outline: 0;
}
.flex{
  -webkit-display: flex;
  -ms-display: flex;
  -moz-display: flex;
  -o-display: flex;
  display: flex;
}
.cont{
  width: 1198px;
  margin:  auto;
  position: relative;
  clear: both;
}
.projetos {
  clear: both;
}
.center{
  text-align: center;
}
.wrap {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}
.menu-desktop.cont.flex {
  align-items: center;
}
header ul.listaMenu li a:hover {
  background: rgb(237, 237, 237);
}
li.Lista_sub-subCategoria a {
  position: relative;
}
ul.sub-sub-categoria li a::before {
  display: none;
}
ul.sub-categoria li.Lista_sub-subCategoria:nth-child(1) a:hover::before{
  background: #0a2650;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
ul.sub-categoria li.Lista_sub-subCategoria:nth-last-child(-n+1) a:hover::before{
   background: #0a2650;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
/*ul.sub-sub-categoria::before {
  background: rgba(35, 31, 32, 0.77);
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
}
ul.sub-sub-categoria::after {
  background: rgba(35, 31, 32, 0.77);
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
}*/
ul.sub-categoria li.Lista_sub-subCategoria:nth-child(1) a::before {
  top: 0;
  background: rgba(255, 255, 255, 0.77);
  width: 100%;
  right: 100%;
  height: 100%;
  position: absolute;
  content: "";
}
ul.sub-categoria li.Lista_sub-subCategoria:nth-last-child(-n+1) a::before {
  top: 0;
  background: rgba(255, 255, 255, 0.77);
  width: 100%;
  left: 100%;
  height: 100%;
  position: absolute;
  content: "";
}
ul.sub-sub-categoria li a:hover{
  background: transparent !important;
  color: white !important;
  padding-left: 25px !important;
}
.top-info.flex {
  text-align: right;
  align-items: center;
  justify-content: flex-end;
  padding: 12px 0;
}
.mTS_horizontal .mTSContainer,.mTSWrapper{
  overflow: visible !important;
}
.verDep{
  display: block !important;
}
ul.listaMenu {
  align-items: center;
  margin-right: 0;
  margin-left: auto;  
}
.listaMenu li{
    list-style: none;
}
.listaMenu li a{
    text-decoration: none;
}
li.sub {
  position: relative;
}
ul.sub-menu {
  position: absolute;
  background: rgba(45, 44, 66, 0.82);
  min-width: 250px;
  left: 11px;
  z-index: 99;
  overflow: hidden;
  height: 0;
  padding: 0;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
li.sub:hover .sub-menu {
  height: auto;
  overflow: auto;
  opacity: 1;
  padding: 20px 0; 
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
ul.sub-menu li a {
  margin: 0 !important;
}
ul.sub-menu li a:hover {
  background: #20429b;
}
span.contoleConteudo {
  display: block;
  height: 155px;
  overflow: auto;
}
.pad.txt-info {
  padding: 0 160px;
}
ul.sub-menu li a {
  color: white !important;
  line-height: 1 !important;
  font-size: 14px !important;
  padding: 12px !important;
  font-weight: 600;
  padding-left: 25px !important;
  text-transform: capitalize !important;
}
ul.sub-menu li a::after{
  display: none;
}
.padding {
  padding: 30px 0;
}
li.sub::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #7a7b7d transparent transparent transparent;
  top: 48%;
  right: -2px;
}
.titulo.white {
  color: white;
}
.conhecaAinda.flex {
  width: 100%;
}
.padding{
  padding: 30px 0;
}
.conhecaAinda {
  float: left;
  width: 100%;
}
.center{
  text-align: center !important;
}
ul.listaMenu li a {
  color: #666666;
  font-weight: 500;
  padding: 37px 29.4px;
  position: relative;
  letter-spacing: 2px;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
ul.listaMenu li a:hover{
  -webkit-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.texto.white {
  color: white;
}
.flex.cont-footer {
  align-items: center;
  padding: 14px 0;
}
ul.menu-footer li {
  padding-left: 28px;
  text-align: left;
  padding-right: 6px;
}
ul.menu-footer li a {
  color: #253434;
  font-size: 13px;
  font-weight: 600;
  text-align: left;
}
.box-unidade {
  padding-right: 32px;
  width: 100%;
}
.logo-rodape {
  margin-right: 14px;
}
.selo-rodape {
  position: relative;
  margin-left: auto;
}
.logo-rodape img {
  width: 220px;
}
ul.menu-footer {
  display: flex;
  align-items: center;
}
header.fixed .logo img {
  width: 130px;
}
header.fixed .top-site {
  display: none;
}
span.select select{
  background: white;
}

h2.titulo.after {
  border-bottom: 2px solid #e7e7e7;
  padding-bottom: 10px;
  position: relative;
}
button.enviar {
  width: 147px;
  font-size: 15px;
  border: 0;
  padding: 10px;
  cursor: pointer;
  background: #1b1b1b;
  color: white;
  font-weight: 500;
  display: block;
  margin-right: auto;
}
button.enviar:hover {
  background: #404040;
}
.box-redes h3 {
  color: #464646;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 18px;
  font-weight: 400;
  letter-spacing: 2px;
}
.padding.newslatter {
  background: #595959;
}
form#News{
  width: 66%;
  margin-left: auto;
}
.padding.newslatter .flex {
  align-items: center;
}
form#News input {
  border: 1px solid white;
  background: transparent;
  color: white;
  padding: 12px;
  width: 34%;
  font-size: 14px;
  letter-spacing: 4px;
  margin-right: 13px;
  text-transform: uppercase;
  font-weight: 500;
}
form#News button {
  border: 0;
  cursor: pointer;
  width: 170px;
  background: #282828;
  font-size: 13px;
  color: white;
  letter-spacing: 4px;
  font-weight: 500;
}
form#News button:hover {
  background: #0a2650;
}
form#News input::placeholder{
  color: white;
}
.padding.newslatter h2 {
  color: white;
  font-weight: 400;
  margin-right: 50px;
  font-size: 25px;
  letter-spacing: 5px;
  line-height: normal;
}
a.ver-car {
  background: #666666;
  bottom: 0;
  position: absolute;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 16px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
}
.ListaCatalogo .box {
  margin: 10px;
  padding-top: 15px;
  position: relative;
  border: 1px solid #666666;
  width: calc(100% / 4 - 82px);
  padding-bottom: 63px;
}
.ListaCatalogo .slick-slide {
  margin: 0 30px;
}
.ListaCatalogo .img-catalogo {
    height: 300px;
    margin: auto;
    /*background-size: cover !important;*/
    background-repeat: no-repeat;
    background-position: center;
}
form#Newslatters input {
 width: 100%;
}
form#Newslatters {
  width: 100%;
  margin-left: 18px;
}
.box-footer {
  width: 100%;
  padding: 20px 0;
  margin-right: 30px;
}
form#Newslatters button:hover {
  background: #253434;
}
span.end-footer {
  display: block;
  color: #505050;
  font-size: 14px;
}
span.nome-end {
  display: block;
  margin-bottom: 5px;
  color: #ca3938;
  font-weight: 600;
}
ul.class-numeros li a {
  color: white;
}

footer .rodape {
  background: #df0613;
}
.box-menu-footer {
  width: 68%;
}
.box-menu-footer {
  display: block;
  margin-left: auto;
}
footer li.sub:hover .sub-menu{
  bottom: 82px;
}
footer ul.listaMenu li a {
  color: white;
  font-size: 12px;
  padding: 25px;
  padding-right: 0;
}
footer .menu-footer {
  margin-left: auto;
  margin-right: auto;
}
footer .cont.flex {
  align-items: center;
}
.tel-footer a {
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
}
footer .tel-footer {
  display: flex;
  align-items: center;
  padding: 56px;
  padding-left: 0;
  background: #0a2650;
  position: relative;
  width: 300px;
}
form#PesquisarSite {
  width: 99%;
  display: flex;
  align-items: center;
}
footer .tel-footer::before {
  position: absolute;
  right: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #0a2650;
  content: "";
}
header span.area {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  font-size: 9px;
}
header span.area img {
  margin-right: 10px;
}
header .area-restrita {
  background: #0a2650;
  display: flex;
  align-items: center;
  width: 168px;
  justify-content: center;
  position: relative;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
}
.area-restrita i{
    color: white;
    margin-left: 0;
    margin-right: 27px;
}
form#PesquisarSite input::placeholder{
  color: white;
}
form#PesquisarSite input {
  width: 88%;
  border: 0;
  background: transparent;
  color: white;
  font-size: 10px !important;
  text-transform: uppercase;
  margin: 0 !important;
  letter-spacing: 2px;
  font-weight: 500;
  padding: 20px;
}
header form#PesquisarSite input::placeholder {
  padding-left: 13px !important;
}
.top-site {
  background: #666666;
}
.top-site .cont::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0a2650;
  left: 100%;
}
.redes-sociais img {
  margin-left: 5px;
}
.redes-sociais i {
  color: white;
  margin-left: 0;
  margin-right: 27px;
}
.redes-sociais {
  text-align: center;
  width: 400px;
  display: flex;
  align-items: center;
  background: #666666;
}
button.pesquisarS {
  border: 0;
  padding: 0;
  background-color: transparent;
  /* background-image: url(images/assets/lupa.png); */
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
header .pesquisa {
  background: #231f20;
  width: 630px;
  display: flex;
  align-items: center;
}
.pesquisa i {
    color: white;
    margin-left: 0;
    margin-right: 27px;
}
form.pesqusaForm button {
  border: 0;
  margin-left: -5px;
  width: 63px;
  height: 48px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
}
form.pesqusaForm input::placeholder {
  color: white;
}
form.pesqusaForm input {
  background: transparent;
  border: 0;
  border-bottom: 2px solid white;
  color: white;
  padding: 11px;
  font-size: 22px;
  width: 350px;
  margin: auto;
}
.top-site .cont::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0a2650;
  left: 100%;
}
footer {
    background: #272727;
}
.closeMenu{
  display: none;
}
footer .direitos_site .redes-sociais {
  width: auto;
  float: right;
  background: #231f20;
}
footer .direitos_site {
  background: #231f20;
  padding: 10px 0;
}
footer .dir {
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
}

.sociaisPost {
  background: #ededed;
}
  .box-conteudo a:hover {
    background: #0a2650;
  }
  .box-conteudo a {
    display: table;
    text-align: center;
    padding: 15px 35px;
    background: black;
    color: white;
    font-size: 13px;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-top: 40px;
  }
  .box-inspiracao {
    background: #231f20;
    width: 50%;
    position: relative;
    padding: 40px 0;
  }
  .box-inspiracao::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #231f20;
    top: 0;
    right: 100%;
  }
  .inspiracao {
    background-repeat: no-repeat;
    background-position: right;
  }
  button.inspire-se, button.envie-seu-projeto {
    border: 1px solid white;
    background: transparent;
    color: white;
    padding: 12px 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
    font-weight: 500;
    margin: 5px;
    cursor: pointer;
    margin-left: 10px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  button.btn-enviar {
    border: 0;
    cursor: pointer;
    width: 170px;
    background: #0a2650;
    font-size: 13px;
    color: white;
    padding: 15px;
    letter-spacing: 4px;
    font-weight: 500;
  }
  button.inspire-se:hover,button.envie-seu-projeto:hover {
    background: white;
    color: #231f20;
  }
  .cont.filtro {
    display: flex;
    padding-left: 20px;
  }
  header .class-menu.cont{
    box-shadow: 0 0 150px #d4e0e6;
  }
  .icone-box {
    display: block;
    margin: auto;
    height: 50px;
    width: 160px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 13px;
  }
  .possibilidades .box-escolha {
    float: left;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    position: relative;
  }
  .box-escolha:hover a {
    background-color: rgba(6, 6, 6, 0.3);
  }
  .cont-redes h2 {
      letter-spacing: 2px;
  }
  .cont.inspiracoes h2 {
      margin: 14px 0 6px;
  }
  a.link-box:hover {
      color: white !important;
      border-color: white;
  }
  a.link-box {
    display: block;
    border: 1px solid white;
    color: white;
    padding: 12px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    width: 90px;
  }
  .box-escolha .conteudoBox h3 {
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    letter-spacing: 4px;
  }
  .box-escolha.banheiro {
    width: 32%;
    height: 700px;
  }
  .box-escolha.areas {
    width: 19%;
  }
  .box-escolha.cozinha {
    width: 37%;
  }
  .box-escolha.lavanderia {
    width: 31%;
  }
  .box-escolha.lavabo {
    width: 49%;
  }
  .box-escolha .conteudoBox {
    padding: 20px;
    position: relative;
    z-index: 10;
  }
  .possibilidades .box-escolha::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    background: rgba(102, 102, 102, 0.85);
    height: 100%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .possibilidades .box-escolha:hover::after {
    height: 0;
  }
  .links-page a {
    color: white;
    display: inline-block;
    padding: 39px 7px;
    font-size: 19px;
    line-height: 5;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
     -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .links-page a:hover {
      background: #22385b;
      -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .conhecaAinda .flex {
    align-items: center;
  }
  .box-conteudo,.box-imagem{
    width: 76%;
    padding: 30px;
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    text-align: center;
  }
  .box-projeto.flex {
    height: 580px;
  }
  .box-projeto .box-imagem {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .box-projeto .box-conteudo {
    background: #666666;
  }
  .box-projeto:nth-child(2n - 1) .box-conteudo {
    background: #262626;
  }
  .box-projeto:nth-child(even) .box-conteudo {
    order: 2;
  }
  span.modalProjetos {
    display: block;
    border: 2px solid white;
    color: white;
    padding: 12px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    width: 143px;
    cursor: pointer;
  }
  span.modalProjetos:hover {
    background: #858585;
    border-color: #858585;
  }
  .box-conteudo h3 {
    color: white;
    text-transform: uppercase;
    line-height: 2.5;
    font-size: 29px;
    letter-spacing: 5px;
  }
  .links-page {
    margin-left: 60px;
  }
  .conhecaAinda {
    background: #1c3152;
  }
  .possibilidades {
    width: 100%;
    float: left;
  }
  a.link-box:hover {
    background: #404040;
    border-color: #404040;
  }
  a.linkblog:hover::after {
    width: 100%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .listaRecentes .boxes-post h3:hover {
    color: #313131;
  }
  .img-icone {
    height: 105px;
    width: 105px;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
  }
  .ModalProjeto {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    height: 100%;
    background: rgba(0, 0, 0, 0.31);
    z-index: 999;
  }
  a.ver-car:hover {
    background: #231f20;
  }
  .ListaCatalogo{
    position: relative;
  }
  
  .box-blog {
    width: 100%;
  }
  .sociaisPost {
    margin-top: 60px;
  }
  .blog-home h3 {
    color: #464646;
    text-transform: uppercase;
    margin: 10px 0;
    text-overflow: ellipsis;
    line-height: 1.3;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .blog-home:hover {
    transform: scale(1.05);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .texto-blog-info {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.8;
    color: #9a9a9a;
    font-size: 14px;
    font-weight: 400;
  }
  .img-blog {
    height: 245px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
  }
  .blog-home {
    padding: 22px;
    background: white;
    width: 80%;
    position: relative;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .cont-redes {
    width: 500px;
    margin-left: 83px;
    margin-right: auto;
  }
  .cont-blog {
    width: 530px;
    margin-left: auto;
    padding-right: 40px;
  }
  .box-redes {
    width: 100%;
  }
  .controleModal {
    background: #262626;
    width: 1100px;
    margin: auto;
    position: relative;
  }
  .listaRecentes .cont_lista {
    padding-left: 20px;
  }
  .item-galeria img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .controleModal h2 {
    text-align: center;
    padding: 45px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: 500;
    color: white;
  }
  span.fechar-modal {
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 38px;
    font-weight: 500;
    z-index: 199;
    cursor: pointer;
    color: white;
  }
  .controleModal {
    background: #262626;
    width: 1100px;
    margin: auto;
    position: relative;
  }
  a.ver-car:hover {
    background: #272727;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  @media screen and (max-width: 1290px){

    .ListaCatalogo .box {
      margin: 0 !important;
    }
  }
  
  @media screen and (max-width: 1100px){
    
    form#News {
      width: 80% !important;
      margin-left: auto !important;
      margin-right: auto !important;
      margin-top: 30px !important;
    }
    form#News input {
      width: 100% !important;
      margin-right: 0 !important;
      margin-bottom: 10px !important;
    }
    form#News button {
      height: 45px;
      display: block;
      margin: auto;
    }
    .cont-blog {
      width: 60%;
      margin-left: auto;
      padding-right: 0;
      margin-right: auto;
    }
    .cont-redes {
      width: 47%;
      margin-left: auto;
      margin-right: auto;
    }
    h2.titulo.padding {
      padding: 0;
    }
    .blog-home{
      width: 100%;
    }
    
    .box-escolha.areas {
      width: 37%;
    }
    .box-escolha.lavabo {
      width: 31%;
    }
    .links-page a {
      padding: 0 10px;
    }
    .conhecaAinda h2.titulo.white {
      margin-bottom: 0;
    }
    .links-page a {
      padding: 0px 10px !important; 
      font-size: 14px !important; 
    }
    .box-conteudo h3 {
      line-height: 1.5;
    }
  }
  
  @media screen and (max-width: 615px){
    .box-inspiracao::before{
      display: none;
    }
    .nome-categorias {
      width: 100%;
      justify-content: center;
      padding: 0;
    }
    .nome-categorias::before{
      display: none;
    }
    .box-inspiracao {
      width: 80%;
      padding: 40px 20px;
      margin: auto;
    }
    button.inspire-se, button.envie-seu-projeto{
      font-size: 9px;
    }
    form#enviar-projeto input{
      width: calc(100% / 1 - 30px);
    }
    form#News{
      width: 90% !important;
    }
    .texto-blog-info p,.blog-home h3 {
      text-align: center;
    }
    .box-blog.padding {
      padding-bottom: 0;
    }
    .cont.conteudo-dinamico h1{
      font-size: 35px;
    }
    .cont.conteudo-dinamico h2 {
      font-size: 25px;
    }
    .box-conteudo a{
      padding: 10px 25px;
      font-size: 12px;
    }
    span.modalProjetos{
      padding: 10px;
      font-size: 10px;
    }

    h2.titulo.white {
      text-align: center;
    }
    .links-page {
      margin-left: 0 !important;
    }
    .box-escolha .conteudoBox h3 {
      font-size: 15px;
      letter-spacing: 1px;
    }
    a.link-box {
      padding: 9px;
      font-size: 14px;
      letter-spacing: 1px;
      width: 88px;
    }
    .conhecaAinda .flex {
      display: block;
      padding: 40px 0;
    }
    .icone-box {
      margin: auto;
      height: 90px;
      width: 150px;
    }    
    .conteudoBox .flex {
      display: block;
    }
    .txt-dinamico h2{
      color: white;
    }
    .txt-dinamico h2 {
      font-size: 28px;
      line-height: 1;
      text-align: center;
    }
    .ListaBanner ul.slick-dots li button{
      border-color:  white !important;
    }
    .txt-dinamico h3{
      font-size: 15px;
      text-align: center;
    }
    .texto-banner{
      color: white;
    }
    #banner-home .arrow{
      top: 210px;
    }
    h2.titulo{
      font-size: 27px;
    }
    .padding.numbers .nuns {
      width: 100%;
    } 
    .texto {
      width: 100% !important;
    }
    .texto-banner{
      font-size: 13px;
    }
    #banner-home ul.slick-dots{
      bottom: 25px;
    }
    span.valores{
      font-size: 45px;
    }
    span.nomes{
      font-size: 19px;
    }
    .video .jeff {
      width: auto;
      margin-left: 0; 
      text-align: center;
    }
    .jeff h3.subtitulo {
      text-align: center !important;
    }
    .jeff a.linkSite{
      margin: 10px auto;
    }
    .box-numeros {
      width: calc(100% / 1);
      margin: auto !important;
      margin-bottom: 20px !important;
    }
    .listaPalestrantes {
      width: 75%;
      margin: auto;
    }
    .projetos button.slick-prev.slick-arrow,.possibilidades button.slick-prev.slick-arrow{
      font-size: 0;
      color: transparent;
      border: 0;
      width: 35px;
      height: 35px;
      background-color: transparent;
      background-image: url(../images/assets/_prev.png) !important;
      background-position: center;
      background-repeat: no-repeat;
    }
    .possibilidades .box-escolha::after{
      top: 0;
    }
    .projetos button.slick-next.slick-arrow,.possibilidades button.slick-next.slick-arrow {
      font-size: 0;
      color: transparent;
      border: 0;
      width: 35px;
      height: 35px;
      background-color: transparent;
      background-image: url(../images/assets/_next.png) !important;
      background-position: center;
      background-repeat: no-repeat;
    }
    
    h2.tituloBig {
      font-size: 26px !important;
      text-align: center;
    }
    section.palestras_class{
      background-size: cover;
    }
    section.noticias-home.padding .flex {
      display: block !important;
    }
    .listaBlog.slick-initialized.slick-slider {
      width: 90%;
      margin: auto;
    }
  }